#bg {
  background-color: #fff;
}

#text-center {
  text-align: center;
}

#img-center {
  margin: auto;
}

#body-box {
  flex-direction: row;
  display: flex;
  position: relative;
  background: red;
  height: 90vh;
}

#content-box {
  width: 100%;
  background: orange;
  margin: 0 auto;
}
